
$containerWidth : 940px;

$baseFontSize : 16px;

$big-phones : 600px;

$big-tablets: 1080px;

$tablets : 768px;

$phones : 480px;

$greyColor : #666;

$blackColor : #292929;

@import "scss/components/*.scss";

@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');