.header{
  padding-right: 1.6825rem;
  margin-top: 2.25rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  @include tablets {
    justify-content: space-between ;
    margin-top: 1.5rem;
    padding-right: 2.125rem;
  }
  @include phones{
    padding: 0 0.625rem;
  }
}

.logo{
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 4%;
  @include tablets{
    margin-left: 1.4rem;
  }
  @include phones {
    margin-left: 0;
  }
}

.menu{
  margin-right: 3%;
  flex: 1;
  &__link{
    white-space: nowrap;
  }
  @include tablets{
    display: none;
    &--vertical{
      display: block;
    }
  }
}

.menu__list{
  display: flex;
  flex-wrap: wrap;
}

.menu__item{
  margin-right: 4%;
  &:last-child{
    margin-right: 0;
  }
  &:hover{
    color: #E01F3D;
    transition: color 0.5s;
  }
}

.contacts{
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  &:hover{
    color: #E01F3D;
    transition: color 0.5s;
  }
  &__picture{
    width: 0.875rem;
    height: 0.875rem;
    margin-right: 0.375rem;
  }
  @include tablets{
    color: #E01F3D;
  }
  @include phones{
    color: #292929;
  }
}

.header--contacts{
  @include tablets{
    display: none;
  }
}
