.message-modal{
  padding: 10px;
  display: none;
  &__box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 19.375rem;
    height: 11rem;
    background: #fff;
  }
  &__sended{
    font-size: 1.125rem;
    color: #000;
    font-weight: 400;
    margin-bottom: 1rem;
  }
}

.fancybox-bg{
  color: #333537;
}

.fancybox-is-open .fancybox-bg{
  opacity: 1;
}

.fancybox-button{
  display: none;
}
