.message-modal {
  padding: 10px;
  display: none;
}
.message-modal__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 19.375rem;
  height: 11rem;
  background: #fff;
}
.message-modal__sended {
  font-size: 1.125rem;
  color: #000;
  font-weight: 400;
  margin-bottom: 1rem;
}

.fancybox-bg {
  color: #333537;
}

.fancybox-is-open .fancybox-bg {
  opacity: 1;
}

.fancybox-button {
  display: none;
}