
$containerWidth : 940px;

$baseFontSize : 16px;

$greyColor : #666;

$blackColor : #292929;

@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

@import "./components/sections.scss";

@import "./components/layout.scss";

@import "./components/hero.scss";

@import "./components/header.scss";

@import "./components/features.scss";

@import "./components/btn.scss";

@import "./components/why-beats.scss";

@import "./components/reasons.scss";

@import "./components/review.scss";

@import "./components/order.scss";

@import "./components/radio.scss";

@import "./components/fixed-menu.scss";