.btn{
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  padding: 18px 41px;
  border: 1px solid #E01F3D;
  border-radius: 100px;
  background: #E01F3D;
  &:hover{
    background: #CA1B36;
  }
  &--transperent{
    background: transparent;
    border: none;
    &:hover{
      color: #E01F3D;
      background: transparent;
    }
  }
}