.header{
  margin-top: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu{
  margin-left: -9px;
}

.menu__list{
  display: flex;
  align-items: center;
}

.menu__item{
  font-size: 18px;
  margin-right: 23px;
  &:last-child{
    margin-right: 0px;
  }
}

.contacts{
  margin-right: 33px;
  font-size: 22px;
  display: flex;
  align-items: center;
  &__picture{
    width: 12px;
    height: 12px;
    margin-right: 6px;
  }
}
