
.hero{
  background: url("../beats-pictures/beats.png") right 30% center no-repeat;
  color: #000;
  height: 100vh;
  min-height: 652px;
  &__main-title{
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    width: 40%;
    padding-bottom: 22px;
  }
  &__title-description{
    font-size: 21px;
    width: 34%;
    padding-bottom: 36px;
  }
  &__icons-section{
    margin-bottom: 70px;
  }
}

.hero__container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

