.review-content{
  height: 100vh;
}

.review{
  &__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  &__main-title{
    margin-bottom: 40px;
    font-style: 48px;
    font-weight: bold;
    text-transform: uppercase;
  }
  &__item{
    background: #F8FAF9;
    padding: 30px 30px 30px 30px;
    display: flex;
  }
  &__avatar{
    padding-left: 30px;
    width: 27%;
  }
  &__content{
    padding: 30px 30px 30px 30px;
  }
  &__title{
    font-style: 24px;
    font-weight: bold;
  }
  &__text{
    font-weight: 400;
    color: $greyColor;
  }
  &__author{
    font-style: 18px;
    font-weight: bold;
  }
  &__avatars-list{
    display: flex;
    justify-content: center;
  }
}