.why-content{
  height: 100vh;
  text-align: center;
}

.why-beats{
  &__container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
  }
  &__main-title{
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
  }
  &__title-description{
    color: $greyColor;
  }
  &__title-section{
    align-self: center;
    width: 63%;
  }
}
