.choice{
  &__container{
    flex-direction: unset;
    align-items: center;
  }
  &__photo{
    width: 28.25rem;
    height: 28.25rem;
    margin-right: 3.6875rem;
  }
  &__icon{
    width: 5.75rem;
    height: 5.75rem;
    margin-bottom: 1.3rem;
  }
  &__title{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 1.16;
    margin-bottom: 1.5rem;
  }
  &__text{
    line-height: 1.16;
    padding: 0 5rem 0 0;;
    color: $greyColor;
    margin-bottom: 1.5rem;
  }
  &__parameters{
    margin-bottom: 1.5rem;
    &-list{
      display: flex;
    }
    &-description{
      font-weight: bold;
    }
    &-item{
      font-size: 1.125rem;
      margin-right: 5rem;
      &:last-child{
        margin-right: 0;
      }
    }
    &-title{
      line-height: 1.16;
    }
  }
  &__order{
    display: flex;
    align-items: center;
  }
  &__price{
    font-size: 2.25rem;
    margin-right: 1.4rem;
  }
}

.choice-wrapper{
  display: flex;
  max-width: 68.75rem;
  align-items: center;
}

.section--choice{
  justify-content: center;
  align-items: center;
  display: flex;
}

.icon-arrow{
  width: 0.875rem;
  height: 1.75rem;
  &--left{
    margin-right: 3rem;
  }
}