.choice{
  &__container{
    flex-direction: unset;
    align-items: center;
    position: relative;
    align-items: center;
    &::before{
      content: '';
      position: absolute;
      background:#292929;
      width: 1.5rem;
      height: 1.5rem;
      bottom: -1rem;
      right: 0;
      transform: rotate(45deg);
    }
    @include big-tablets{
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  }
  &__list{
    display: flex;
    width: 300%;
    position: relative;
    right: 0;
    transition: right 0.3s;
  }
  &__item{
    padding-left: 1.5rem;
    display: flex;
    @include big-tablets{
      padding-left: 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  &__picture{
    margin-top: 2rem;
    height: 28.25rem;
    flex-shrink: 0;
    margin-right: 3.6875rem;
    align-self: center;
    @include big-tablets{
      margin-top: 0;
      width: 19.125rem;
      height: 19.125rem;
      margin-right: 0;
      margin-bottom: 3.125rem;
    }
    @include phones{
      margin-bottom: 1.75rem;
    }
  }
  &__photo{
    width: 100%;
    height: 100%;
    object-fit: contain;
    @include big-tablets{
      width: 19.125rem;
      height: 19.125rem;
      margin-right: 0;
      margin-bottom: 3.125rem;
    }
    @include phones{
      margin-bottom: 1.75rem;
    }
  }
  &__icon{
    width: 5.75rem;
    height: 5.75rem;
    margin-bottom: 1.3rem;
  }
  &__title{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 1.16;
    margin-bottom: 1.5rem;
    @include big-tablets{
      font-size: 1.75rem;
      margin-bottom: 1rem;
    }
    @include phones{
      line-height: 1.2;
      padding: 0 3rem;
      margin-bottom: 0.7rem;
    }

  }
  &__text{
    line-height: 1.16;
    padding: 0 3rem 0 0;;
    color: $greyColor;
    margin-bottom: 1.5rem;
    @include big-tablets{
      padding: 0 4rem;
    }
    @include phones{
      padding: 0 1.75rem;
      margin-bottom: 1.5rem;
    }
  }
  &__parameters{
    margin-bottom: 1.5rem;
    @include phones{
      margin-bottom: 1rem;
    }
    &-list{
      display: flex;
      @include big-tablets{
        justify-content: center;
      }
    }
    &-description{
      font-weight: bold;
    }
    &-item{
      font-size: 1.125rem;
      margin-right: 5rem;
      &:last-child{
        margin-right: 0;
      }
    }
    &-title{
      line-height: 1.16;
      @include big-tablets{
        text-align: initial;
      }
    }
  }
  &__order{
    display: flex;
    align-items: center;
    @include big-tablets{
      justify-content: center;
    }
  }
  &__price{
    font-size: 2.25rem;
    margin-right: 1.4rem;
    @include big-tablets{
      margin-right: 2.4rem;
      font-size: 2.5rem;
    }
    @include phones {
      margin-right: 1.4rem;
      font-size: 2rem;
    }
  }
}

.choice-wrapper{
  display: flex;
  max-width: 68.75rem;
  align-items: center;
}

.slider{
  width: 100%;
  overflow: hidden;
}

.section--choice{
  justify-content: center;
  align-items: center;
  display: flex;
}

.arrows{
  @include big-tablets{
    position: relative;
    flex-shrink: 0;
  }

}

.arrow-icon{
  width: 0.875rem;
  height: 1.75rem;
  &--left{
    position: absolute;
    top: 50%;
    left: -2%;
    @include big-tablets{
      top: calc(19.125rem/2);
      left: -14.5rem;
    }
    @include phones{
      top: 8.725rem;
      left: -14rem;
    }
  }
  &--right{
    position: absolute;
    top: 50%;
    right: -2%;
    @include big-tablets{
      top: calc(19.125rem/2);
      right: -14.5rem;
    }
    @include phones{
      top: 8.725rem;
      right: -14rem;
    }
  }
}