.section--colors{
  position: relative;
  display: flex;
  color: #fff;
  background: url("../beats-pictures/colors.png") center center/cover no-repeat;
  @include  big-tablets{
    background:  url("../beats-pictures/colors.png") 85% center/cover no-repeat;
  }
}

.colors{
  &__horizontal-acco{
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    @include phones{
      width: 100%;
      justify-content: flex-end;
    }
  }
  &__item{
    display: flex;
    @include phones{
      &--active{
        position: absolute;
        left: 0;
        bottom: 0;
        top: 0;
        right: 0;
        z-index: 3;
      }
    }
    &--active{
      .colors__desc{
        opacity: 1;
      }
    }
  }
  &__button{
    color: inherit;
    display: flex;
    position: relative;
    width: 6.375rem;
  }
  &__content{
    background: rgba(51, 53, 55, 0.9);
    width: 0;
    overflow: hidden;
    transition: width 0.2s linear;
  }
  &__desc{
    padding: 2rem 2.5rem;
    transition: width 0.2s linear;
  }
  &__title{
    margin-top: 7.1875rem;
    margin-left: 5.25rem;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
    @include tablets{
      margin-left: 1.25rem;
    }
    @include phones{
      font-size: 2rem;
      margin-left: 1rem;
    }
  }
  &__button-text{
    position: absolute;
    transform: rotate(-90deg) translateY(-50%);
    font-size: 2.25rem;
    font-weight: bold;
    transform-origin: 0 0;
    left: 50%;
    white-space: nowrap;
    bottom: 2.125rem;
  }
}