.choice__characteristics{
  position: relative;
}

.choice__characteristics:hover .dropdown{
  display: unset;
}

.dropdown{
  display: none;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 0;
  border: 1px solid;
  border-radius: 0.25rem;
  padding: 1.125rem 1.625rem;
  &__icon{
    height: 2rem;
    width: 2rem;
    margin-right: 0.75rem;
  }
  &__item{
    margin-bottom: 0.5rem;
    min-height: 2.75rem;
    min-width: 13.75rem;
    display: flex;
    align-items: center;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__desc{
    justify-content: flex-end;
  }
  &__title{
    flex: 1;
  }
  &::after{
    position: absolute;
    left: -5.75rem;
    top: 5.625rem;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 0px 0 92px;
    border-color: transparent transparent transparent transparent;
  }
}