.features{
  width: 57%;
  display: flex;
  &__item{
    display: flex;
    align-items: center;
  }
  &__text{
    max-width: 7.625rem;
    flex: 1;
  }
}

.features__icon{
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 0.8125rem;
}
