.fixed-menu{
  position: fixed;
  top: 40%;
  right: 2%;
  @include tablets {
    display: none;
  }
}

.fixed-menu__item{
  margin-bottom: 0.3125rem;
  &--active {
    .fixed-menu__link {
      border-color:#E01F3D ;
    }
    .fixed-menu__link::before{
      background: #E01F3D;
    }
  }
}

.fixed-menu__link{
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  border: 0.0625rem solid transparent;
  display: block;
  position: relative;
  &:before{
    content: "";
    display: block;
    position: absolute;
    width: 0.375rem;
    height: 0.375rem;
    border-radius: 50%;
    background: #292929;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.fixed-menu--white{
  .fixed-menu__item{
    margin-bottom: 0.3125rem;
    &--active {
      .fixed-menu__link {
        border-color:#fff ;
      }
      .fixed-menu__link::before{
        background: #fff;
      }
    }
  }
  .fixed-menu__link{
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    border: 0.0625rem solid transparent;
    display: block;
    position: relative;
    &:before{
      content: "";
      display: block;
      position: absolute;
      width: 0.375rem;
      height: 0.375rem;
      border-radius: 50%;
      background: #fff;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
