.hamburger{
  width: 1.625rem;
  height: 1.5rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;
  @include tablets{
    display: inline-flex;
  }
}

.hamburger__plank{
  display: block;
  background: #292929;
  height: 0.3rem;
  border-radius: 2rem;
}