html{
  font-size: $baseFontSize;
  @include phones{
    font-size: 3.35vmin;
  }
}

html,
body{
  height: 100%;
}

body{
  color: $blackColor;
  font-family: "Play", sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper{
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container{
  width: 95%;
  max-width: $containerWidth;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  @include tablets{
    width: 100%;
  }
}

a{
  color: inherit;
  text-decoration: none;
}
 
 ul{
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
 }

 h1, h2, h3, h4{
  margin: 0;
  font-weight: normal;
 }
 
 p {
  padding: 0;
  margin: 0;
 }
 
*{
  box-sizing: border-box;
 }

footer{
  position: relative;
  width: 100%;
}

img{
  display: block;
  max-width: 100%;
}