.reasons-list{
  display: flex;
  @include phones{
    display: block;
  }
}

.reason{
  padding: 0 3%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  @include tablets{
    padding: 0;
  }
  @include phones{
    display: flex;
    flex-direction: unset;
    align-items: unset;
    margin-bottom: 1rem;
  }
  &::before{
    content: url("../beats-pictures/circles.svg");
    position: absolute;
    right: 0;
    top: 3.75rem;
    transform: translate(50%);
    @include tablets{
      display: none;
    }
  }
  &:first-child{
    padding-left: 0;
  }
  &:last-child{
    padding-right: 0;
    &::before{
      display: none;
    }
  }
  &__icon{
    margin-bottom: 23px;
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    background: #F2F5F4;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.875rem;
    overflow: hidden;
    @include phones{
      min-width: 8rem;
      margin-right: 1rem;
    }
  }
  &__header{
    font-weight: bold;
    font-size: 1.5rem;
    @include tablets{
      margin-bottom: 1rem;
    }
    @include phones{
      margin-bottom: 0rem;
    }
  }
  &__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    @include phones{
      align-items: flex-start;
      margin-top: 0.5rem;
    }
  }
  &__desc{
    width: 90%;
    line-height: 1.2;
  }
}