.reasons-list{
  display: flex;
  justify-content: space-between;
}

.reason{
  display: flex;
  flex-direction: column;
  width: 33%;
  align-items: center;
  position: relative;
  &::before{
    content: url("../beats-pictures/circles.svg");
    position: absolute;
    right: 0;
    top: 30px;
    transform: translate(50%);
  }
  &:last-child{
    &::before{
      display: none;
    }
  }
  &__icon{
    margin-bottom: 50px;
    position: relative;
    &:before{
      content: '';
      display: block;
      position: absolute;
      width: 128px;
      height: 128px;
      border-radius: 50%;
      background: #F2F5F4;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }
  }
  &__header{
    font-weight: bold;
    font-size: 24px;
  }
  &__text{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__desc{
    width: 80%;
    line-height: 1.2;
  }
}