.review{
  &__container{
    align-items: center;
    justify-content: center;
  }
  &__main-title{
    line-height: 1.1;
    margin-bottom: 32px;
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
  }
  &__item{
    background: #F8FAF9;
    padding: 42px;
    display: flex;
    position: relative;
    margin-bottom: 15px;
    overflow: hidden;
    &::before{
      content: '';
      display: block;
      position: absolute;
      height: 84px;
      width: 84px;
      top: 0;
      left: 50%;
      background: #fff;
      border-radius: 50%;
      transform: translate(-50%, -73%);
    }
  }
  &__avatar{
    width: 253px;
    height: 264px;
  }
  &__content{
    padding: 29px 100px 20px 37px;
  }
  &__title{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 24px;
  }
  &__text{
    line-height: 1.2;
    font-weight: 400;
    color: $greyColor;
    margin-bottom: 38px;
  }
  &__author{
    font-size: 18px;
    font-weight: bold;
  }
  &__avatars{
    &-list{
      display: flex;
      justify-content: center;
    }
    &-item{
      margin-right: 5px;
      height: 74px;
      width: 74px;
      border-radius: 50%;
      &--active{
        border: solid #E01F3D 4px;
      }
    }
  }
}