.review{
  &__container{
    align-items: center;
    justify-content: center;
    position: relative;
    &::before{
      position: absolute;
      display: block;
      content: '';
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background: #868686;
      opacity: 0.9;
      bottom: -18px;
      left: 0;
    }
  }
  &__main-title{
    line-height: 1.1;
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    @include phones{
      font-size: 2rem;
      margin-bottom: 2rem;
    }
  }
  &__item{
    background: #F8FAF9;
    padding: 2.625rem;
    display: flex;
    position: relative;
    margin-bottom: 0.9375rem;
    overflow: hidden;
    &::before{
      content: '';
      display: block;
      position: absolute;
      height: 5.25rem;
      width: 5.25rem;
      top: 0;
      left: 50%;
      background: #fff;
      border-radius: 50%;
      transform: translate(-50%, -73%);
    }
    @include tablets{
      width: 96%;
      padding: 3.5rem 1.5rem  1rem 1.5rem;
      margin-bottom: 2rem;
      flex-direction: column;
      &::before{
        transform: translate(-50%, -56%);
      }
    }
    @include phones{
      margin-bottom: 2.5rem;
      width: 95%;
      padding: 3.25rem 1rem 1rem 1rem;
      &::before{
        display: none;
      }
    }
  }
  &__avatar{
    width: 15,8125rem;
    height: 16.5rem;
    @include tablets{
      height: 8.125rem;
      width: 8.125rem;
      align-self: center;
    }
  }
  &__content{
    padding: 1.8125rem 6.25rem 1.25rem 2.3125rem;
    @include tablets{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2rem 0 1.5rem 0;
      text-align: center;
    }
    @include phones{
      padding: 1.125rem 0 1.5rem 0;
    }
  }
  &__title{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.25rem;
    @include tablets{
      margin-bottom: 0.75rem;
    }
    @include phones {
      margin-bottom: 0.5rem;
    }
  }
  &__text{
    line-height: 1.2;
    font-weight: 400;
    color: $greyColor;
    margin-bottom: 2.375rem;
    @include tablets{
      margin-bottom: 1rem;
    }
    @include phones{
      margin-bottom: 0.75rem;
    }
  }
  &__author{
    font-size: 1.125rem;
    font-weight: bold;
    @include tablets{
      font-weight: normal;
    }
  }
  &__avatars{
    &-list{
      display: flex;
      justify-content: center;
    }
    &-item{
      margin-right: 0.3125rem;
      height: 4.625rem;
      width: 4.625rem;
      border-radius: 50%;
      @include phones{
        height: 4rem;
        width: 4rem;
      }
      &--active{
        border: solid #E01F3D 0.25rem;
      }
    }
  }
}