.section{
  height: 100vh;
  min-height: 652px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &--hero{
    color: #000;
    background: #F2F5F4;
  }
  &--order{
    color: #fff;
    background: url("../beats-pictures/order-background.png") center center no-repeat;
  }
}

