.team{
  &__main-title{
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.1;
    text-transform: uppercase;
    margin-bottom: 3.3125rem;
  }
  &__container{
    justify-content: center;
    align-items: center;
  }
  &__item{
    flex: 1;
    text-align: center;
    margin-right: 1.25rem;
    &:last-child{
      margin-right: 0;
    }
    @include tablets{
      margin-right: 0;
    }
  }
  &__list{
    display: flex;
    justify-content: space-between;
    min-height: 29.375rem;
    @include tablets{
      flex-direction: column;
      min-height: unset;
      align-items: center;
    }
  }
  &__picture{
    display: flex;
    margin-bottom: 1.5625rem;
    justify-content: center;
    align-items: center;
    @include tablets{
      display: none;
    }
    &--tablets{
      display: none;
      @include tablets{
        display: block;
      }
    }
  }
  &__employee-name{
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-bottom: 0.6875rem;
    font-weight: bold;
    font-style: 1.125rem;
    line-height: 1.2;
    position: relative;
    &::after{
      content: '';
      width: 0.5625rem;
      height: 0.49rem;
      margin-left: 0.3rem;
      transform: rotate(0deg);
      transition: transform 0.3s ease-out;
      background: url("../beats-pictures/team-triangle.svg") center center /contain no-repeat;
    }
    &--active{
      &::after{
        transform: rotate(180deg);
      }
    }
  }
  &__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s;
    will-change: max-height;
    @include tablets{
      transition: 0s;
    }
    &--active{
      max-height: 100%;
    }
    &-profession{
      line-height: 1.2;
      margin-bottom: 0.25rem;
    }
    &-description{
      color: $greyColor;
      line-height: 1.2;
      width: 80%;
    }
  }
}