.player{
  position: relative;
  display: block;
  &__splash{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../beats-pictures/group.svg") center center no-repeat, url("../beats-pictures/video.png") center center/cover no-repeat;
    cursor: pointer;
  }
  &__container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__title{
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: bold;
    @include phones{
      font-size: 2rem;
    }
  }
  &__controls{
    display: flex;
    width: 100%;
    height: 9%;
    position: absolute;
    bottom: 0;
    background: #000;
  }
  &__start{
    margin-left: 1rem;
    margin-right: 1.5rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    background: url("../beats-pictures/Vector.svg") center center no-repeat;
    background-size: 0.75rem 1rem;
  }
  &__playback{
    align-self: center;
    position: relative;
    height: 1rem;
    width: 67%;
    &-line{
      height: 0.25rem;
      z-index: 2;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      background: linear-gradient(to right, #333333 0% 100%);
      display: block;
      transform: translateY(-50%);
    }
    &-button{
      background:#E01F3D;
      top: 50%;
      cursor: pointer;
      position: absolute;
      z-index: 3;
      border: none;
      width:  0.9375rem;
      height:  0.9375rem;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      left: 0%;
    }
  }
  &__volume{
    &-bar{
      align-self: center;
      height: 1rem;
      width: 9%;
      position: relative;
      @include big-phones{
        margin-right: 1rem;
      }
    }
    &-line{
      height: 0.25rem;
      z-index: 2;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      background: linear-gradient(to right, #333333 0% 100%);
      display: block;
      transform: translateY(-50%);
    }
    &-off{
      margin-right: 1.5rem;
      margin-left: 2.375rem;
      border: 0;
      background-color: transparent;
      cursor: pointer;
      background: url("../beats-pictures/volume.svg") center center no-repeat;
      @include big-phones{
        margin-left: 1rem;
      }
    }
    &-button{
      position: absolute;
      top: 50%;
      border: none;
      background-color: transparent;
      cursor: pointer;
      width: 0.75rem;
      height: 0.75rem;
      background: #E01F3D;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      left: 0%;
      z-index: 3;
    }
  }
  &--active{
    .player__splash{
      background: none;
    }
  }

}
.yt-player{
  width: 640px;
  height: 392px; 
  @include tablets{
    width: 594px;
    height: 354px;
  }
  @include big-phones{
    width: 394px;
    height: 233px;
  }
  @include phones{
    width: 394px;
    height: 233px;
  }
}
 