.why-beats{
  &__container{
    justify-content: center;
    align-items: center;
    text-align: center;
    @include phones{
      text-align:start;
    }
  }
  &__main-title{
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.625rem;
    @include tablets{
      margin-bottom: 0.2rem;
    }
    @include phones{
      font-size: 2rem;
    }
  }
  &__title-description{
    color: $greyColor;
    max-width: 80%;
    line-height: 1.2;
    @include tablets{
      max-width: 85%;
    }
  }
  &__title-section{
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-bottom: 3.75rem;
    @include tablets{
      margin-bottom: 3.25rem;
    }
    @include phones {
      width: 100%;
      text-align: center;
    }
  }
}