@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;0,800;1,400&display=swap");
html,
body {
  height: 100%;
}

body {
  color: #292929;
  font-size: 16px;
  font-family: "Play";
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  width: 100%;
  min-width: 980px;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 960px;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

h1, h2, h3, h4 {
  margin: 0;
  font-weight: normal;
}

p {
  padding: 0;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer {
  position: relative;
  width: 100%;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background: url("../beats-pictures/beats.png") right 30% center no-repeat;
  color: #000;
  height: 100vh;
  min-height: 652px;
}
.hero__main-title {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  width: 40%;
  padding-bottom: 22px;
}
.hero__title-description {
  font-size: 21px;
  width: 34%;
  padding-bottom: 36px;
}
.hero__icons-section {
  margin-bottom: 70px;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.header {
  margin-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  font-size: 18px;
  margin-right: 27px;
}
.menu__item:last-child {
  margin-right: 0px;
}

.contacts {
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacts__picture {
  width: 12px;
  height: 12px;
  margin-right: 6px;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.features__text {
  width: 50%;
}

.btn {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  padding: 18px 41px;
  border: 1px solid #E01F3D;
  border-radius: 100px;
  background: #E01F3D;
}

.why-content {
  height: 100vh;
}

.why-beats__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
}
.why-beats__main-title {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
}
.why-beats__title-description {
  color: #666;
}
.why-beats__title-section {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 70%;
}

.reasons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reason {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 33.333%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.reason__icon {
  margin-bottom: 50px;
}
.reason__text {
  width: 80%;
}

.review-content {
  height: 100vh;
}

.review__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}
.review__main-title {
  margin-bottom: 40px;
  font-style: 48px;
  font-weight: bold;
  text-transform: uppercase;
}
.review__item {
  background: #F8FAF9;
  padding: 30px 30px 30px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.review__avatar {
  padding-left: 30px;
  width: 27%;
}
.review__content {
  padding: 30px 30px 30px 30px;
}
.review__title {
  font-style: 24px;
  font-weight: bold;
}
.review__text {
  font-weight: 400;
  color: #666;
}
.review__author {
  font-style: 18px;
  font-weight: bold;
}
.review__avatars-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.order-content {
  height: 100vh;
}

.order__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.order__main-title {
  font-style: 48px;
  font-weight: bold;
  text-transform: uppercase;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form__row-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form__column {
  width: 50%;
}